.search_list{
	height: 120px;
}
.search_list div{
	height: 120px;
}
.search_list div div{
	height: 120px;
	padding: 0 !important;
}
.search_list div div img{
	margin: 10px 18px;
	float: left;
	width: 100px;
	position: unset !important;

}
.search_list div div div{
	margin-top: 20px;
	height: 30%;
	text-align: left;
	float: left;
}

.search_list div div p{
	height: 70%;
	width: 55%;
	text-align: left;
	float: left;
}



/*.search_list div div{
	height: 4em;
	padding: 15px 0 0 40% !important;
	margin: auto;
	width: 60%;
}*/

/*.search_list div div div{
	height: 4em;
	padding: 0 0 0 0 !important;
	margin-left: 0px;
	width: 60%;
}

.search_list div div img{
	width: 25%;
}*/